/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 147%;
  }
  
  h1 {}
  
  h2 {}
  
  h3 {}
  
  p {
    margin: 0;
  }
  
  
  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    margin: 0 20px;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  }
  
  
  
  
  /* ---- components ---- */
  
  .game {
    text-align: center;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
  }

  .game header {
    flex: 1;
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 40px;

  }

  .game .label {
    font-weight: 700;
    font-size: 30px;
    padding-right: 10px;
  }

  .game .value {
    font-weight: 400;
  }

  .game .score {
    flex: 1;
  }
  .game .timer {
    flex: 1;
  }

/*  */
  .game .deck {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .game .deck div {
    margin-right: 20px;
  }

  .game .deck div:last-child {
    padding-right: 0px;
  }



  .game .current-card {
    flex: 1;
    font-size: 40px;
    background-color: lightgray;
    border: 1px solid #000;
    padding: 100px 0;
    border-radius: 10px;

  }
  


  .game .actions {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .game .up {
    flex: 1;
    padding: 20px 0;
    background: #fff;
    border: 1px solid #111;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .game .down {
    flex: 1;
    padding: 20px 0;
    background: #fff;
    border: 1px solid #111;
    border-radius: 10px;
  }

  .game .next-card {
    flex: 1;
    font-size: 40px;
    background-color: lightgray;
    border: 1px solid #000;
    padding: 100px 0;
    border-radius: 10px;
  }


  /*  */

  .game footer {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    line-height: 45px;
  }




  
  
  .label
  .value
  .timer
  .label
  .value
  
  

  .label
  .step-no
  .total-steps
  
  /* ---- section ---- */
  
  section.testimonials {
    
  }
  
  section.testimonials .button {
    margin-bottom: 10px;
  }